<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<nav class="navbar navbar-expand-sm bg-light">
    <div class="container">
        <a class="navbar-brand">Menu</a>
        <ul class="nav nav-pills" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="">Home - Articles</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="create">Create Article</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>